
/*===================
        Typography
  ===================  */
.BookingForm{
    color: rgba(72, 94, 88, 0.90);
    font-family: Markazi Text;
    font-weight: 500;
}

label{
    font-size: 1.5em;

}
.invalidP{
    color: red;
    font-size: 1em;
    font-weight: 500;
}
/*===================
        Layout
  ===================  */
.BookingForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.invalidP{
    position: absolute;
    top: 288px;
    padding-left: 1em;
}

.BookingForm input, select{
    height: 42px;
    padding: 2px 19px;
    border-radius: 16px;
    border: 2px solid #DBDBDB;
    font-family: karla , sans-serif;
    font-size: 1em;
}



label{
    margin-top: 1em;
    margin-bottom: 0.1em;
}
#DateLabel{
    margin-top: 0;
}

