.BookingConfirmation{
    display: flex;
    flex-direction: column ;
    font-size: 1.3rem;
    align-items: center;
}

.BookingConfirmation h2{
    margin-top: 0.7em;
}

.BookingConfirmation p{
    font-size: 1.7rem;
}


#BookingConfirmation-DateHeader{
margin-top:0 ;
}